body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 3rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

/* my changes start here */
.crate {
  color: midnightblue;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 30px;
}

/* To change the card pattern for larger screens */
@media (min-width:703px){

  .left {
    float: left;
    width: 45%;
  }

  .right {
    float: right;
    width: 45%;
  }

}

/* To change the font size of the header element for smaller screens */
@media (min-width:831px){

  h1 {
    font-size: 5em;
  }

}